*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

html{
    background-color: #fff;
    color: #555;
    font-family: 'LATO', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*------Reusable component------*/
.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 50px 0px;/*0px but does have padding on left and right side*/
}

.box{
        padding: 2%;/*Leave more space between each column box of the feature section*/
}

/*headings*/
h1, h2, h3{
    font-weight: 900;/*Only 100X(3/4/5/.../9 */
    text-transform: uppercase;/*NO letter-spacing: 1px; for h3. Otherwise, the text will go to 2 lines.*/
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;

}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
    /*margin-bottom: 30px;Leave space below the organge line*/
}

h2:after {/*An organge line*/
   display: block;
   height: 2px;
   background-color: #e67e22;
   content: " ";
   width: 100px;
   margin: 30px auto;
}

h3{
    font-size: 100%;
    margin-bottom: 15px;
}

/*------paragraph------*/
.long-copy{
    line-height: 150%;
    width:70%;/*No longer centered with changed width*/
    margin-left: 15%;/*Why margin-left:15% works*/
}

.box p{
    line-height: 150%;
    font-size: 90%;
}

/*------icons------*/
.icon-big{
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.5s, color 1s, border 0.5s;
}

.btn-full:link,
.btn-full:visited{
    background-color: #e67e22;
    color: #ffffff;
    margin-right: 15px;

}

.btn-ghost:link,
.btn-ghost:visited{
    color: #e67e22;
    border: 1px solid #e67e22;
}

.btn-full:hover,
.btn-full:active{
    background-color: #c24d00;
}

.btn-ghost:hover,
.btn-ghost:active{
    color: #c24d00;
    border: 1px solid #c24d00;
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 57px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;

}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 3px 0px 3px 0px;

    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active{
    color: #c24d00;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid #c24d00;
    transition: border-bottom 0.5s;
}

/*------meals------*/
.meals-showcase{
    list-style: none;/*Just a list*/
    width:100%;
}

.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}

.meal-photo{
    width: 100%;/*each photo has width of its parent li*/
    margin: 0;
}

.meal-photo img{
    width: 100%;
    height: 100%;/* Seem not to change anything*/

}

