*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

html{
    background-color: #fff;
    color: #555;
    font-family: 'LATO', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}

.clearfix: after{/*clear float after element*/
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}/*NOT WORK*/

/*------Reusable component------*/
.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 50px 0px;/*0px but does have padding on left and right side*/
}

.box{
        padding: 2%;/*Leave more space between each column box of the feature section*/
}

/*headings*/
h1, h2, h3{
    font-weight: 900;/*Only 100X(3/4/5/.../9 */
    text-transform: uppercase;/*NO letter-spacing: 1px; for h3. Otherwise, the text will go to 2 lines.*/
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;

}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
    /*margin-bottom: 30px;Leave space below the organge line*/
}

h2:after {/*An organge line*/
   display: block;
   height: 2px;
   background-color: #e67e22;
   content: " ";
   width: 100px;
   margin: 30px auto;
}

h3{
    font-size: 100%;
    margin-bottom: 15px;
}

/*------paragraph------*/
.long-copy{
    line-height: 150%;
    width:70%;/*No longer centered with changed width*/
    margin-left: 15%;/*Why margin-left:15% works*/
}

.box p{
    line-height: 150%;
    font-size: 90%;
}

/*------icons------*/
.icon-big{
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*------links------*/
a:link,
a:visited{
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;

}
a:hover,
a:active{
    color: #555;
    border-bottom: none;   /*Instead of 1px solid transparent*/
    transition: color 1s, border-bottom 1s;
}
/*------buttons------*/
.btn-app:link,
.btn-app:visited{
    border-bottom: none;
}

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.5s, color 1s, border 0.5s;
}

.btn-full:link,
.btn-full:visited{
    background-color: #e67e22;
    color: #ffffff;
    margin-right: 15px;

}

.btn-ghost:link,
.btn-ghost:visited{
    color: #e67e22;
    border: 1px solid #e67e22;
}

.btn-full:hover,
.btn-full:active{
    background-color: #c24d00;
}

.btn-ghost:hover,
.btn-ghost:active{
    color: #c24d00;
    border: 1px solid #c24d00;
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 57px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;

}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 3px 0px 3px 0px;

    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active{
    color: #c24d00;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid #c24d00;
    transition: border-bottom 0.5s;
}

/*------features------*/
.section-features .long-copy{
    margin-bottom: 15px;
}


/*------meals------*/
.section-meals{
    padding: 0px;
}
.meals-showcase{
    list-style: none;/*Just a list*/
    width:100%;
}

.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}

.meal-photo{
    width: 100%;/*each photo has width of its parent li*/
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.meal-photo img{
    opacity: 0.56;
    width: 100%;
    height: auto;/* Seem not to change anything*/
    transform: scale(1.2);
    transition: transform 0.5s, opacity 1s;
}

.meal-photo img:hover{
    opacity: 1;
    transform: scale(1.029);
    transition: transform 1s, opacity 1s;
}

/*------how it works------*/
.section-steps{
    background-color: #f4f4f4;
}

.section-steps h2{
    padding-top: 600px;
}
.steps-box:first-child{
    text-align: right;/*Not only for text but also for images*/
    padding-right: 3%;/*Make images fluid*/
    margin-top: 30px;
}

.steps-box:last-of-type{
    padding-left: 3%;
    margin-top: 50px;
}

.app-screen {
    width: 40%;
}

.works-step{
    margin-bottom: 33px;
}

.works-step:last-of-type{
    margin-bottom: 70px;
}

.works-step div{
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 60%;
    height: 50px;
    width: 50px;
    text-align: center;
    float: left;
    font-size: 150%;
    margin-right: 20px;
    padding: 5px;
    transform: scale(1);
    transition: transform 0.5s;
}
.works-step div:hover{
    transform: scale(1.5);
    transition: transform 1s;
}

.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/*------Cities------*/
.section-cities img{
    width: 100%;/*Width of parent*/
    height: 150px;
    transform: scale(1);
    transition: transform 0.5s;
    margin-bottom: 10px;
}
.section-cities img:hover{
    transform: scale(1.56);
    transition: transform 1s;
}
.city-feature {
    margin: 10px 10px;
}
.city-feature i{
    display: inline-block;
    font-size: 120%;
    margin-left: -10px;
    margin-right: 10px;
    margin-top: -3px;
    color: #e67e22;
    vertical-align: middle;/*Adjust the images' relative heighgts. Does work a little*/
}

/*------Testmonials------*/
.section-testimonials{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 200%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    display: block;
    content: " \201C ";
    font-size: 400%;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;
    /* position: relative; Unnecessary here to display the quotation mark correctly*/
}

cite:before {
    content: " \201D ";
    font-size: 400%;
    position: absolute;
    right: 55px;
}

cite img{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/*------sign up------*/
.section-plans{
   background-color: #f4f4f4;
}

.plan-box{
    background-color: #fff;
    border-radius: 10px;
    width: 80%;
    margin-left: 5%;
    box-shadow: 0 2px 2px gray;
    transform: scale(1);
    transition: 0.5s;
}

.plan-box:hover{
    transform: scale(1.129);
    transition: 1s;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e67e22;
}

.plan-box div:first-child{
    background-color: antiquewhite;
    text-align: center;
    border: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.plan-box div:last-child{
    text-align: center;
    border: 0;
}

.plan-price{
    font-size: 200%;
    margin-bottom: 20px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price-meal{
    font-size: 80%;
}

.plan-price span{
    font-size: 40%;
    color: black;
}

.plan-box ul{
    list-style: none;
}

.plan-box li{
    padding: 5px 0;
}

.plan-box i{
    margin-right: 10px;
}

.section-form input{
    width = 200%;
}
